* {
  box-sizing: border-box;
  margin:0; 
  padding:0; 
}

body {
  background: #007ac3;
  font-family: 'Raleway', sans-serif;
}



.mynav {
    height: 160px;
    width: 100%;
    background-color: white;
}

.logo-container{
    display: inline-block;
    width: 33.33%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.logo-container img {
    margin: 0 auto;
    display: block;
    width: 200%;
    max-width: 300px;
}

footer {
    display: block;
}

.container {
    position: relative;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.9;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  
  .area1:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .area2:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .area3:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .area4:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .area5:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .area6:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


.image1 {
  width: 350px;
    height: 350px;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.image2{
  width: 375px;
  height: 250px;
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 120px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image3{
  width: 350px;
  height: 350px;
  padding-left: 70px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image4 {
  width: 350px;
    height: 350px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.image5 {
  width: 350px;
    height: 350px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#nhs {
  width: 80px;
  height:40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  }

  footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffff;
    padding: 0px;
    text-align: center;
    color: white;
    position: relative;
  }

  .containerfoot {
    padding: 20px;
    background-color: #fff;
  }

  input[type=text], input[type=submit] {
    width: 10%;
    padding: 10px;
    margin: -20px 0px;
    display: inline-block;
    border: 2px solid  #007ac3;
    box-sizing: border-box;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  
  }
  
  input[type=text]:focus {
    width: 25%;
  }
  
  input[type=submit] {
    background-color:  #007ac3;
    color: white;
    border: 2px solid  #007ac3;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  a{
    color: blue;
    font-weight: bold;
  }

/* .navbar {
    position: relative;
}
.logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

.para {
  text-align: center;
}

.box1 {
  background-color: #fff;
}

.images {
  width: 568px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

h1{
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

h3 {
  text-align: center;
  padding-top: 10px;
}



.para {
  margin: 5px 10px;
}

#home{
  display: block;
  margin:  auto;
  height: auto;
  width: 4%;
  padding-bottom: 5px;
}

.topimage1 {
  height: 400px;
  padding: 5px 10px;
  background-image: url(../img/northtees.jpg);
  background-size: cover;
  display: block;
}

.bottomimage1 {
  padding: 5px 10px;
  height: 400px;
  background-image: url(../img/barcode.jpg);
  background-size: cover;
}

.topimage2 {
  height: 400px;
  padding: 5px 10px;
  background-image: url(../img/cloud.jpg);
  background-size: cover;
}

.bottomimage2 {
  padding: 5px 10px;
  height: 400px;
  background-image: url(../img/chart.png);
  background-size: cover;
}

.topimage3 {
  height: 400px;
  padding: 5px 10px;
  background-image: url(../img/framework.jpg);
  background-size: cover;
}

.bottomimage3 {
  padding: 5px 10px;
  height: 400px;
  background-image: url(../img/phone.jpg);
  background-size: cover;
}

.topimage4 {
  height: 400px;
  padding: 5px 10px;
  background-image: url(../img/northtees.jpg);
  background-size: cover;
}

.bottomimage4 {
  padding: 5px 10px;
  height: 400px;
  background-image: url(../img/barcode.jpg);
  background-size: cover;
}



@media(min-width: 768px) and (max-width: 1200px) {
  input:nth-child(1) {
    min-width: 300px;
    margin-bottom: 15px;
  }
  
  input:nth-child(2) {
    min-width: 300px;
  }

  #home{
    display: block;
    margin:  auto;
    height: auto;
    width: 10%;
    padding-bottom: 5px;
  }

}


@media(max-width: 767px){
  input:nth-child(1) {
    min-width: 300px;
    margin-bottom: 15px;
  }
  
  input:nth-child(2) {
    min-width: 300px;
  }

  #home{
    display: block;
    margin:  auto;
    height: auto;
    width: 15%;
    padding-bottom: 5px;
  }

}